<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
</style>

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.hero{

    width: 100%;
    height: 100vh;
    background: #7d8d97;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero h1{
    
    font-size: 45px;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 50px;
    color: dark black;
}
.hero span{
    color: yellow;
    border-bottom: 5px solid yellow;
}

textarea{
    width: 70%;
    height: 50px;
    background: wheat;
    color: #0f1a20;
    font-size: 15px;
    border: 0;
    outline: 0;
    padding: 20px;
    border-radius: 10px;
    resize: none;
    margin-bottom: 30px;
}

textarea ::placeholder{
    font-size: 16px;
    color: black;
}
.row{
    width: 600px;
    display: flex;
    align-items: center;
    gap: 20px;
}
button{
    background: rgb(214, 118, 79);
    color: black;    
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 40px;
    border: 0;
    outline: 0;
    cursor: pointer;
      
}
select{
    flex: 1;
    color: black;
    background:  rgb(214, 118, 79);
    height: 50px;
    border: 0;
    outline: 0;
    border-radius: 40px;
    

    @media screen and (max-width:700px) {
        .hero h1{
            font-size: 25px;
        }
        .row{
            width: 300px;
            flex-direction: column;
            height: 100px;

        }
        select{
            width: 70%;
        }
        
    }