body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
  }
  
  h1 {
    text-align: center;
    color: #444;
  }
  
  textarea {
    width: 100%;
    max-width: 600px;
    margin: 10px auto;
    display: block;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #d48787;
    border-radius: 5px;
    resize: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin: 10px auto;
    max-width: 600px;
    font-size: 14px;
    color: #0c0c0c;
  }
  
  select {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 10px auto;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:active {
    background-color: #003f7f;
  }
  